@import url(/style.css);
@import url(/avatar\avatar.css);

.icon-container{
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.badge-icon{
    width: 2rem;
    height: 2rem;
}
.badge-on-icon{
    position: relative;
}
.badge{
    position: absolute;
    color: white;
    top: -8px;
    border-radius: 50%;
    width: 0.7rem;
    height: 1.2rem;
    padding: 0.05rem;
    text-align: center;
}
.badge-red{
    background-color: red;
}
.badge-green{
    background-color: green;
}
.badge-black{
    background-color: black;
}
.text{
    background-color: cadetblue;
    width: max-content;
    height: max-content; 
    padding: 0.3rem;
    border-radius: 8px;
    margin: 0;
}
.badge-purple{
    /* top: -8px; */
    background-color: purple;
}
.avatar-with-status{
    position: relative ;
    display: inline-block;
}
.status{
   height: 8px;
   width: 8px;
   border-radius: 50%;
   position: absolute;
   bottom: 0.6rem;
   right: 0.3rem;
}
.status-green{
    background-color: green;
}
.status-orange{
    background-color: orange;
}
.status-red{
    background-color: red;
}