@import url(/style.css);

main>* {
    padding: 0;

}

main {
    text-align: center;
    margin-left: 0;
    margin-top: 30px;
}

.banner {
    height: 18rem;
}

.homepage-btns {
    margin-top: 0.8rem;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 2.5rem;
    align-items: center;
    border-radius: 5px;
}

.hero-logo {
    width: 8rem;
}

.nav-links {
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
}

.nav-links>a {
    margin: 0 1rem;
}

body {
    display: unset;
    margin-left: 0;
}

.btn {
    padding: 0.8rem;
    margin: 0.5rem;
    border-radius: 8%;
    font-size: 1rem;
}

.btn-round {
    border-radius: 1rem;
}

.primary-btn {
    background-color: var(--primary);
    color: var(--white);
}

.secondary-btn {
    background-color: var(--secondary);
}

@media screen and (max-width: 640px) {
    body {
        grid-template-columns: 6rem 1fr;
        font-size: 62.5%;
    }

    .text-xl {
        font-size: 2rem;
        line-height: 3rem;
    }

    .text-md {
        font-size: 1rem;
        line-height: 1rem;
    }

    .hero-logo {
        width: 6rem;
    }
}

@media screen and (max-width: 280px) {
    .banner {
        display: none;
    }
}