@import url(/style.css);
main > *{
    padding: 0;
    
}
main{
   text-align: center;
   margin-left: 0;
   margin-top: 50px;
}
.banner{
    height: 18rem;
}

.homepage-btns{
    margin-top: 0.8rem;
}
.nav-bar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 2.5rem;
    align-items: center;
    border-radius: 5px;
}

.hero-logo {
    width: 8rem;
}

.nav-links {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
}
body{
    display: unset;
    margin-left: 0;
}
.btn{
    padding: 0.8rem;
    margin: 0.5rem;
    border-radius: 8%;
    font-size: 1rem;
}
.btn-round{
    border-radius: 1rem;
}
.primary-btn{
    background-color: var(--primary);
    color: var(--white);
}
.secondary-btn{
    background-color: var(--secondary);
}
.link-btn{
   text-decoration: none;
   color: inherit;
}
.float-btn{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}