@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');
@import url('https://use.fontawesome.com/releases/v5.0.7/css/all.css');

* {
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
}

body {
    background-color: var(--background);
}

:root {
    --background: #fef9c3;
    --red: #FF0000;
    --green: #008000;
    --light-blue: #00ffd5;
    --black: #000000;
    --orange: #ffa500;
    --purple: #800080;
    --white: #ffffff;
    --primary: #8b5cf6;
    --secondary: #d3d3d3;
    --secondary-bg: #F5F5F5;
}

.hover-class:hover {
    background-color: var(--secondary);
    cursor: pointer;
}

.text-size-xl{
    font-size: 3rem;
    line-height: 4rem;
}
.text-size-lg{
    font-size: 2rem;
    line-height: 2.5rem ;
}
.text-size-md{
    font-size: 1.5rem;
    line-height: 2rem;
}
.text-size-sm{
    font-size: 1rem;
    line-height: 1.5rem;
}
.text-size-xs{
    font-size: 0.5rem;
    line-height: 1rem;
}