@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import url('https://use.fontawesome.com/releases/v5.0.7/css/all.css');

* {
    font-family: 'Quicksand', sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

body {
    background-color: var(--background);
}

:root {
    --background: #fef9c3;
    --red: #FF0000;
    --green: #008000;
    --light-blue: #00ffd5;
    --black: #000000;
    --orange: #ffa500;
    --purple: #800080;
    --white: #ffffff;
    --primary: #8b5cf6;
    --secondary: #d3d3d3;
    --secondary-bg: #F5F5F5;
    --gray: #808080;
    --snackbar-bg: #44403c;
}

.hover-class:hover {
    background-color: var(--secondary);
    cursor: pointer;
}

.text-xl {
    font-size: 3rem;
    line-height: 4rem;
}

.text-lg {
    font-size: 2rem;
    line-height: 2.5rem;
}

.text-md {
    font-size: 1.5rem;
    line-height: 2rem;
}

.text-sm {
    font-size: 1rem;
    line-height: 1.5rem;
}

.text-xs {
    font-size: 0.5rem;
    line-height: 1rem;
}

.top-left {
    top: 0;
    left: 0;
}

.top-right {
    top: 0;
    right: 0;
}

.bottom-left {
    bottom: 0;
    left: 0;
}

.bottom-right {
    bottom: 0;
    right: 0;
}

.bottom-center {
    bottom: 0;
    left: 40%
}

.top-center {
    top: 0;
    left: 40%
}

.top{
    top:0;
    left:0;
    right:0;
}

.link-plain{
    text-decoration: none;
    color: inherit;
}
