@import url(/style.css);

.signup-box {
    background-color: var(--secondary-bg);
    padding: 2rem;
    width: fit-content;
    margin: 1rem;
}

.signup-box>.alert {
    margin: auto;
}

.signup-btns {
    margin: 0.5rem;
    display: flex;
    justify-content: space-around;
}
.error-text{
    background-color: var(--red);
    padding: 1px;
    color: white;
}