<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Laxmikanth Konthum" />
    <meta name="description" content="Elite UI is a library to provide ready-made components to the user" />
    <title>Snackbar</title>
    <link href="snackbar.css" rel="stylesheet">
</head>

<body>
    <div class="snack bottom-left">
        Can't send photo, Retry in 5 seconds.
        <a href="#" class="snackbar-msg"> Retry </a>
        <i class="far fa-times-circle"></i>
    </div>
</body>

</html>