<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Laxmikanth Konthum" />
    <meta name="description" content="Elite UI is a library to provide ready-made components to the user" />
    <title>Typography</title>
    <link href="typography.css" rel="stylesheet">
    <link href="/style.css" rel="stylesheet">
</head>

<body>
    <h1 class="text-xl"> Headine 1 </h1>
    <h2 class="text-lg"> Headine 2 </h2>
    <h3 class="text-md"> Headine 3 </h3>
    <h4 class="text-sm"> Headine 4 </h4>
    <h5 class="text-xs"> Headine 5 </h5>
    <p class="text-xl"> Text 1 </p>
    <p class="text-lg"> Text 2 </p>
    <p class="text-md"> Text 3 </p>
    <p class="text-sm"> Text 4 </p>
    <p class="text-xs"> Text 5 </p>
    <p class="text-light"> LIGHT 100</p>
    <p class="text-regular"> REGULAR 400</p>
    <p class="text-semibold"> SEMIBOLD 600 </p>
    <p class="text-bold-"> BOLD 700</p>
    <p class="text-black"> BLACK 900</p>
    <p class="text-gray">This is gray text</p>
    <p class="text-centered">This is centered text</p>
</body>

</html>