@import url(/style.css);

.nav-bar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 2.5rem;
    align-items: center;
    border-radius: 5px;
}

.hero-logo {
    width: 8rem;
}

.nav-links {
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
}

.nav-links > a{
    margin: 0 1rem;
}

.nav-colored{
    background-color: #e11d48;
}