<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Laxmikanth Konthum" />
    <meta name="description" content="Elite UI is a library to provide ready-made components to the user" />
    <title>Avatar</title>
    <link href="avatar.css" rel="stylesheet" type="text/css" />
</head>

<body>

    <div class="avatar">
        <img class="avatar-circular avatar-sm" src="/src\avatar.jpg" alt="avatar">
        <img class="avatar-circular avatar-md" src="/src\avatar.jpg" alt="avatar">
        <img class="avatar-circular avatar-lg" src="/src\avatar.jpg" alt="avatar">
    </div>
    <div class="avatar square-avatar">
        <img class="avatar-sm" src="/src\avatar.jpg" alt="avatar">
        <img class="avatar-md" src="/src\avatar.jpg" alt="avatar">
        <img class="avatar-lg" src="/src\avatar.jpg" alt="avatar">
    </div>

</body>

</html>