<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Laxmikanth Konthum" />
    <meta name="description" content="Elite UI is a library to provide ready-made components to the user" />
    <title>Cards</title>
    <link href="cards.css" rel="stylesheet">
</head>

<body>
    <nav class="nav-bar top">
        <a href="/index.html" class="link-plain"><img class="hero-logo hover-class" src="/src/hero-logo.png"
                alt="logo"></a>
        <div class="nav-links">
            <a class="link-plain hover-class" href="#"> Documentation</a>
            <a class="link-plain hover-class" href="#"><i class="fab fa-github"></i></a>
            <a class="link-plain hover-class" href="#"><i class="fab fa-linkedin"></i></a>
        </div>
    </nav>
    <aside>
        <div class="list-transparent text-centered">
            <ul class="list-items">Introduction</ul>
            <ul class="list-items text-bold ">Components</ul>
            <ul class="list-items hover-class"> <a class="link-plain" href="/Components/alert - button/alert.html">
                    Alert</a></ul>
            <ul class="list-items hover-class"><a class="link-plain"
                    href="/Components/alert - button/button.html">Button</a></ul>
            <ul class="list-items hover-class"><a class="link-plain"
                    href="/Components/avatar-badge/avatar/avatar.html">Avatar</a></ul>
            <ul class="list-items hover-class"><a class="link-plain"
                    href="/Components/avatar-badge/badge/badge.html">Badge</a></ul>
            <ul class="list-items link-active"><a class="link-plain" href="/Components/cards/cards.html"></a>Cards</a>
            </ul>
            <ul class="list-items hover-class"><a class="link-plain"
                    href="/Components/input-image/input/input.html">Input</a></ul>
            <ul class="list-items hover-class"><a class="link-plain"
                    href="/Components/input-image/image/image.html">Image</a></ul>
            <ul class="list-items hover-class"><a class="link-plain"
                    href="/Components/navbar/navbar.html"></a>Navigation
            </ul>
            <ul class="list-items hover-class"><a class="link-plain"
                    href="/Components/rating - snackbar/rating/rating.html">Rating</a></ul>
            <ul class="list-items hover-class"><a class="link-plain"
                    href="/Components/rating - snackbar/snackbar/snackbar.html">Snackbar</a></ul>
            <ul class="list-items hover-class"><a class="link-plain"
                    href="/Components/text-utilities and Lists/typography/typography.html"></a>Typography</ul>
            <ul class="list-items hover-class"><a class="link-plain"
                    href="/Components/text-utilities and Lists/lists/lists.html">Lists</a></ul>
    </aside>
    <main>
        <h1>Cards</h1>
        <p> CSS cards are great for organizing and enhancing a website's user interface. Each card is uniquely designed
            to make it easy for users to read the card content.</p>
        <p class="text-gray">Below are a few examples</p>
        <!-- <div class="card-container"> -->
        <h2>card-with-badges</h2>
        <div class="card card-with-badges">
            <!-- you can modify the content as required -->
            <div class="main-container hover-class">
                <div class="card-image">
                    <img src="https://cdn.pixabay.com/photo/2019/05/23/13/11/headphones-4223911_960_720.jpg" alt="card"
                        class="">
                </div>
                <div class="sub-content">
                    <header class="heading">Our Changing Planet</header>
                    <p class="sub-text">by Kurt Wagner<p>
                </div>
                <p>Visit ten places on our planet that are undergoing the biggest changes today </p>
            </div>
            <div class="actions">
                <p>READ</p>
                <p>BOOKMARK</p>
                <div class="badge-on-icon">
                    <img src="/src\cart.svg" class="badge-icon" alt="cart">
                    <span class="badge badge-red">5</span>
                </div>
                <div class="badge-on-icon">
                    <img src="/src\msg.svg" class="badge-icon" alt="cart">
                    <span class="badge badge-green">5</span>
                </div>
            </div>
        </div>
        <iframe src="https://carbon.now.sh/embed/ls1wnPSjgiE1NuZefZfQ"
            style="width: 100%; height: 737px; border:0; transform: scale(1); overflow:hidden;"
            sandbox="allow-scripts allow-same-origin">
        </iframe>
        <h2>Text-over-card</h2>
        <div class="card text-over-card">
            <div class="main-container  text-over-img hover-class">
                <div class="card-image">
                    <img src="https://cdn.pixabay.com/photo/2019/05/23/13/11/headphones-4223911_960_720.jpg" alt="card">
                </div>
                <div class="sub-content text-overlay">
                    <header class="heading">Our Changing Planet</header>
                    <p class="sub-text">by Kurt Wagner<p>
                </div>
            </div>
            <div class="actions">
                <p>READ</p>
                <p>BOOKMARK</p>
                <i class="fas fa-heart"></i>
                <i class="fas fa-share-alt"></i>
                <i class="fas fa-ellipsis-v"></i>
            </div>
        </div>
        <iframe src="https://carbon.now.sh/embed/ls1wnPSjgiE1NuZefZfQ"
            style="width: 100%; height: 569px; border:0; transform: scale(1); overflow:hidden;"
            sandbox="allow-scripts allow-same-origin">
        </iframe>
        <h2>text-only-card</h2>
        <div class="card text-only-card">
            <div class="main-container hover-class">
                <div class="sub-content">
                    <header class="heading">Our Changing Planet</header>
                    <p class="sub-text">by Kurt Wagner<p>
                </div>
                <p>Visit ten places on our planet that are undergoing the biggest changes today </p>
            </div>
        </div>
        <iframe src="https://carbon.now.sh/embed/ls1wnPSjgiE1NuZefZfQ"
            style="width: 100%; height: 383px; border:0; transform: scale(1); overflow:hidden;"
            sandbox="allow-scripts allow-same-origin">
        </iframe>
        <h2>Horizontal-card</h2>
        <div class="card horizontal-card">
            <div class="main-container horizontal hover-class">
                <div class="card-image horizontal-img">
                    <img src="https://cdn.pixabay.com/photo/2019/05/23/13/11/headphones-4223911_960_720.jpg" alt="card">
                </div>
                <div class="sub-content">
                    <header class="heading">Our Changing Planet</header>
                    <p class="sub-text">by Kurt Wagner<p>
                </div>
            </div>
        </div>
        <iframe src="https://carbon.now.sh/embed/ls1wnPSjgiE1NuZefZfQ"
            style="width: 100%; height: 439px; border:0; transform: scale(1); overflow:hidden;"
            sandbox="allow-scripts allow-same-origin">
        </iframe>
        <h2>Card-with-dismiss</h2>
        <div class="card card-dismiss">
            <div class="main-container">
                <div class="card-image">
                    <img src="https://cdn.pixabay.com/photo/2019/05/23/13/11/headphones-4223911_960_720.jpg" alt="card">
                </div>
                <div class="sub-content">
                    <header class="heading">Our Changing Planet</header>
                    <p class="sub-text">by Kurt Wagner<p>
                </div>
                <p>Visit ten places on our planet that are undergoing the biggest changes today </p>
            </div>
            <span class="dismiss hover-class"><i class="dismiss-icon far fa-times-circle"> Dismiss</i></span>
            <div class="actions">
                <p>READ</p>
                <p>BOOKMARK</p>
                <i class="fas fa-heart"></i>
                <i class="fas fa-share-alt"></i>
                <i class="fas fa-ellipsis-v"></i>
            </div>
        </div>
        <iframe src="https://carbon.now.sh/embed/ls1wnPSjgiE1NuZefZfQ"
            style="width: 100%; height: 625px; border:0; transform: scale(1); overflow:hidden;"
            sandbox="allow-scripts allow-same-origin">
        </iframe>
        <h2>card-with-shadow</h2>
        <div class="card card-with-shadow">
            <div class="main-container hover-class">
                <div class="card-image">
                    <img src="https://cdn.pixabay.com/photo/2019/05/23/13/11/headphones-4223911_960_720.jpg" alt="card">
                </div>
                <div class="sub-content">
                    <header class="heading">Our Changing Planet</header>
                    <p class="sub-text">by Kurt Wagner<p>
                </div>
                <p>Visit ten places on our planet that are undergoing the biggest changes today </p>
            </div>
            <div class="actions">
                <p>READ</p>
                <p>BOOKMARK</p>
                <i class="fas fa-heart"></i>
                <i class="fas fa-share-alt"></i>
                <i class="fas fa-ellipsis-v"></i>
            </div>
        </div>
        <iframe src="https://carbon.now.sh/embed/ls1wnPSjgiE1NuZefZfQ"
            style="width: 100%; height: 588px; border:0; transform: scale(1); overflow:hidden;"
            sandbox="allow-scripts allow-same-origin">
        </iframe>
    </main>
</body>

</html>