@import url(/style.css);

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    background-color: var(--secondary-bg);
    width: 20rem;
    border: double 5px var(--secondary);
    margin: auto;
}

.card-image>img {
    height: 12rem;
    width: 100%;
}

header {
    font-size: large;
    font-weight: bolder;
}

.actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.actions p {
    font-size: 0.9rem;
    color: var(--primary);
    padding: 0.3em;
}

.actions i {
    padding: 0.3em;
}

.actions>p:hover,
.actions>i:hover,
.actions>.badge-on-icon:hover {
    background-color: var(--secondary);
    cursor: pointer;
}

.text-over-img {
    position: relative;
}

.text-overlay {
    position: absolute;
    bottom: 4rem;
}

.horizontal-img>img {
    height: 7rem;
    width: 9rem;
}

.main-container.horizontal {
    display: flex;
}

.dismiss-icon {
    color: var(--green);
    padding: 1rem;
}

.dismiss {
    display: flex;
    justify-content: center;
    font-size: large;
}

.card-with-shadow {
    box-shadow: 1rem 1rem var(--secondary);
}