@import url(/style.css);


.list-group {
    background-color: var(--secondary-bg);
    width: 15rem;
    list-style: none;
}

.list-border{
    border: solid 1px var(--primary)
}


.list-items {
    margin: 0;
    padding: 0.7rem;
}

.list-stacked {
    display: flex;
    gap: 1rem;
}

.list-stacked-content {
    text-align: left;
    display: flex;
    flex-direction: column;
}

.list-transparent{
    width: 15rem;
    background-color: inherit;
    list-style: none;
}