@import url(/style.css);
.btn{
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 8%;
}
.btn-round{
    border-radius: 1rem;
}
.primary-btn{
    background-color: var(--primary);
    color: var(--white);
}
.secondary-btn{
    background-color: var(--secondary);
}
.link-btn{
   text-decoration: none;
   color: inherit;
}
.float-btn{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}