<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Laxmikanth Konthum" />
        <meta name="description" content="Elite UI is a library to provide ready-made components to the user" />
        <link href="rating.css" rel="stylesheet">
        <link href="/documentation/doc.css" rel="stylesheet">
        <title>Rating</title>
        <link rel="icon" type="image/x-icon" href="/src/favicon.ico">
</head>

<body>
        <nav class="nav-bar top">
                <a href="/index.html" class="link-plain"><img class="hero-logo hover-class" src="/src/hero-logo.png"
                                alt="logo"></a>
                <div class="nav-links">
                        <a class="link-plain hover-class" href="/documentation/doc.html">Documentation</a>
                        <a class="link-plain hover-class" href="https://github.com/laxmikanthkonthum"><i
                                        class="fab fa-github"></i></a>
                        <a class="link-plain hover-class"
                                href="https://www.linkedin.com/in/laxmikanth-konthum-781b27158/"><i
                                        class="fab fa-linkedin"></i></a>
                </div>
        </nav>
        <aside>

                <div class="list-transparent text-centered">
                        <ul>
                                <a href="/documentation/doc.html" class="link-plain">
                                        <li class="list-items hover-class">Introduction</li>
                                </a>
                                <li class="list-items text-bold ">Components</li>
                                <a class="link-plain" href="/Components/alert/alert.html">
                                        <li class="list-items hover-class">
                                                Alert</li>
                                </a>
                                <a class="link-plain" href="/Components/button/button.html">
                                        <li class="list-items hover-class">Button</li>
                                </a>
                                <a class="link-plain" href="/Components/avatar/avatar.html">
                                        <li class="list-items hover-class">Avatar</li>
                                </a>
                                <a class="link-plain" href="/Components/badge/badge.html">
                                        <li class="list-items hover-class">Badge
                                        </li>
                                </a>
                                <a class="link-plain" href="/Components/cards/cards.html">
                                        <li class="list-items hover-class">Cards
                                </a>
                                </li>
                                <a class="link-plain" href="/Components/input/input.html">
                                        <li class="list-items hover-class">Input</li>
                                </a>
                                <a class="link-plain" href="/Components/image/image.html">
                                        <li class="list-items hover-class">Image</li>
                                </a>
                                <a class="link-plain" href="/Components/navbar/navbar.html">
                                        <li class="list-items hover-class">Navigation</li>
                                </a>
                                <a class="link-plain" href="/Components/rating/rating.html">
                                        <li class="list-items link-active">Rating</li>
                                </a>
                                <a class="link-plain" href="/Components/snackbar/snackbar.html">
                                        <li class="list-items hover-class">Snackbar</li>
                                </a>
                                <a class="link-plain" href="/Components/typography/typography.html">
                                        <li class="list-items hover-class">Typography</li>
                                </a>
                                <a class="link-plain" href="/Components/lists/lists.html">
                                        <li class="list-items hover-class">Lists
                                        </li>
                                </a>
                                <a class="link-plain" href="/Components/slider/slider.html">
                                        <li class="list-items hover-class">Slider
                                        </li>
                                </a>
                        </ul>
        </aside>
        <main>
                <h1>Rating</h1>
                <p> Rating is used to take user's opinion in the form of colored stars</p>
                <p class="text-gray">Below is an example with group of five stars</p>
                <div class="star-container">
                        <!-- each "i" element represents one star -->
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                </div>
                <div class="star-container">
                        <!-- the rated class is what differentiates empty and rated star -->
                        <i class="fas fa-star rated"></i>
                        <i class="fas fa-star rated"></i>
                        <i class="fas fa-star rated"></i>
                        <i class="fas fa-star rated"></i>
                        <i class="fas fa-star rated"></i>
                </div>
                <iframe src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%2520%253C%21--%2520each%2520%2522i%2522%2520element%2520represents%2520one%2520star%2520--%253E%250A%2520%253Ci%2520class%253D%2522far%2520fa-star%2522%253E%253C%252Fi%253E%250A%2520%253C%21--%2520the%2520rated%2520class%2520is%2520what%2520differentiates%2520empty%2520and%2520rated%2520star%2520--%253E%250A%2520%2520%253Ci%2520class%253D%2522fas%2520fa-star%2520rated%2522%253E%253C%252Fi%253E"
                        style="width: 100%; height: 273px; border:0; transform: scale(1); overflow:hidden;"
                        sandbox="allow-scripts allow-same-origin">
                </iframe>
        </main>
</body>

</html>