@import url(/style.css);

.icon-container{
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.badge-icon{
    width: 2rem;
    height: 2rem;
}
.badge-on-icon{
    position: relative;
}
.badge{
    position: absolute;
    color: white;
    top: -8px;
    border-radius: 50%;
    width: 1.2rem;
    height: 1.2rem;
    text-align: center;
}
.badge-red{
    background-color: var(--red);
}
.badge-green{
    background-color: var(--green);
}
.badge-black{
    background-color: var(--black);
}
.text{
    background-color: var(--light-blue);
    width: max-content;
    height: max-content; 
    padding: 0.3rem;
    border-radius: 0.5rem;
    margin: 0;
}
.badge-purple{
    background-color: var(--purple);
}
.avatar-with-status{
    position: relative ;
    display: inline-block;
}
.status{
   height: 0.5rem;
   width: 0.5rem;
   border-radius: 50%;
   position: absolute;
   bottom: 0.2rem;
   right: 0.1rem;
}
.status-green{
    background-color: var(--green);
}
.status-orange{
    background-color: var(--orange);
}
.status-red{
    background-color: var(--red);
}