@import url(/style.css);

.alert-container{
    display: flex;
    flex-direction: column;
}
.alert{
    padding: 0.5rem;
    border-radius: 0.2rem;
    width: max-content;
    font-weight: normal;
    margin: 0.2rem;
}
.alert-success{
    background-color: var(--green);
    color: var(--white);
}
.alert-warning{
    background-color: var(--red);
    color: var(--white);
}
.alert-info{
    background-color: var(--orange);
    color: var(--white);
}
.alert-border{
    border: 2px solid var(--green);
    color: var(--green);
    background-color: var(--white);
}