@import url(/style.css);

.snack {
    position: fixed;
    color: var(--secondary-bg);
    background-color: var(--snackbar-bg);
    padding: 0.8rem;
    text-align: center;
}

.snackbar-msg {
    color: var(--primary);
    text-decoration: none;
}