@import url(/style.css);

.light-weight {
    font-weight: 100;
}

.regular-weight {
    font-weight: 400;
}

.semibold-weight {
    font-weight: 600;
}

.bold-weight {
    font-weight: 700;
}

.black-weight {
    font-weight: 900;
}

.text-gray {
    color: var(--gray);
}

.text-centered {
    text-align: center;
}