<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Laxmikanth Konthum" />
        <meta name="description" content="Elite UI is a library to provide ready-made components to the user" />
        <title>Image</title>
        <link href="image.css" rel="stylesheet">
</head>

<body>
        <nav class="nav-bar top">
                <a href="/index.html" class="link-plain"><img class="hero-logo hover-class" src="/src/hero-logo.png"
                                alt="logo"></a>
                <div class="nav-links">
                        <a class="link-plain hover-class" href="/doc.html">Documentation</a>
                        <a class="link-plain hover-class" href="https://github.com/laxmikanthkonthum"><i
                                        class="fab fa-github"></i></a>
                        <a class="link-plain hover-class"
                                href="https://www.linkedin.com/in/laxmikanth-konthum-781b27158/"><i
                                        class="fab fa-linkedin"></i></a>
                </div>
        </nav>
        <aside>
                <div class="list-transparent text-centered">
                        <ul class="list-items hover-class"><a href = "/doc.html" class="link-plain">Introduction</a></ul>
                        <ul class="list-items text-bold ">Components</ul>
                        <ul class="list-items hover-class"> <a class="link-plain"
                                        href="/Components/alert - button/alert.html">
                                        Alert</a></ul>
                        <ul class="list-items hover-class"><a class="link-plain"
                                        href="/Components/alert - button/button.html">Button</a></ul>
                        <ul class="list-items hover-class"><a class="link-plain"
                                        href="/Components/avatar-badge/avatar/avatar.html">Avatar</a></ul>
                        <ul class="list-items hover-class"><a class="link-plain"
                                        href="/Components/avatar-badge/badge/badge.html">Badge</a></ul>
                        <ul class="list-items hover-class"><a class="link-plain"
                                        href="/Components/cards/cards.html">Cards</a>
                        </ul>
                        <ul class="list-items hover-class"><a class="link-plain"
                                        href="/Components/input-image/input/input.html">Input</a></ul>
                        <ul class="list-items link-active"><a class="link-plain"
                                        href="/Components/input-image/image/image.html">Image</a></ul>
                        <ul class="list-items hover-class"><a class="link-plain"
                                        href="/Components/navbar/navbar.html">Navigation</a>
                        </ul>
                        <ul class="list-items hover-class"><a class="link-plain"
                                        href="/Components/rating - snackbar/rating/rating.html">Rating</a></ul>
                        <ul class="list-items hover-class"><a class="link-plain"
                                        href="/Components/rating - snackbar/snackbar/snackbar.html">Snackbar</a></ul>
                        <ul class="list-items hover-class"><a class="link-plain"
                                        href="/Components/text-utilities and Lists/typography/typography.html"></a>Typography
                        </ul>
                        <ul class="list-items hover-class"><a class="link-plain"
                                        href="/Components/text-utilities and Lists/lists/lists.html">Lists</a></ul>
        </aside>
        <main>
                <h1>Image</h1>
                <p> The round image has fixed dimensions of 6rem and responsive image takes 100% width of the container
                        they are
                        placed in</p>
                <p class="text-gray">Below are a few examples</p>
                <!-- you can place the image of your choice inside src -->
                <div class="img-container">
                        <img class="round-img" src="\src\avatar.jpg">
                </div>
                <div class="img-container">
                        <img class="responsive-img" src="https://picsum.photos/id/237/300/300">
                </div>
                <iframe src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253C%21--%2520you%2520can%2520place%2520the%2520image%2520of%2520your%2520choice%2520inside%2520src%2520--%253E%250A%253Cdiv%2520class%253D%2522img-container%2522%253E%250A%2520%2520%2520%2520%253Cimg%2520class%253D%2522round-img%2522%2520src%253D%2522%255Csrc%255Cavatar.jpg%2522%253E%250A%253C%252Fdiv%253E%250A%253Cdiv%2520class%253D%2522img-container%2522%253E%250A%2520%2520%2520%2520%253Cimg%2520class%253D%2522responsive-img%2522%2520src%253D%2522https%253A%252F%252Fpicsum.photos%252Fid%252F237%252F300%252F300%2522%253E%250A%253C%252Fdiv%253E"
                        style="width: 100%; height: 329px; border:0; transform: scale(1); overflow:hidden;"
                        sandbox="allow-scripts allow-same-origin">
                </iframe>
        </main>
</body>

</html>