@import url(/style.css);
body{
    display: grid;
    grid-template-columns: 15rem 1fr;
    gap: 0;
    grid-template-areas:
    "nav nav"
    "aside main"
    "aside main"
    "aside main"
}
nav{
    grid-area: nav;
}
aside{
    width: fit-content;
    grid-area: aside;
    margin-top: 30px;
    height: 80vh;
    overflow : scroll;
    overflow-x: hidden;
    display: none;
}
main{
    margin-top: 30px;
    grid-area: main;
    margin-left: 1rem;
    height: 80vh;
    overflow : scroll;
    overflow-x: hidden;
}
main > *{
    padding: 1rem;
}
