@import url(/style.css);
body{
    display: grid;
    grid-template-columns: 15rem 1fr;
    grid-template-areas:
    "nav nav"
    "aside main"
    "aside main"
    "aside main"
}
nav{
    grid-area: nav;
    border-bottom: 2px solid var(--primary);
    box-shadow: 2px 2px var(--secondary-bg);
    padding: 100px;
}
aside{
    width: fit-content;
    grid-area: aside;
    margin-top: 20px;
    height: 80vh;
    overflow : scroll;
    overflow-x: hidden;
}
main{
    margin-top: 10px;
    grid-area: main;
    margin-left: 1rem;
    height: 80vh;
    overflow : scroll;
    overflow-x: hidden;
    margin-left: 2rem;
}
main > *{
    padding: 1rem;
}
.nav-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 640px){
    body{
    grid-template-columns: 6rem 1fr;
    font-size: 62.5%;
    }
    main{
        margin-left: 0;
    }
    .list-transparent{
        text-align: left;
        width: fit-content;
    }
    .hero-logo{
        width: 6rem;
    }
    .list-items{
        padding: 0.5rem;
    }
}

@media screen and (max-width: 480px){
    body{
    grid-template-columns: 1fr;
    grid-template-areas: 
    "nav"
    "main"
    "main"
    "main";
    }
    aside{
        display: none;
    }
    .hero-logo{
        width: 4rem;
    }
}